<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ _site_name }}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ theme:css }}" />
  <link rel="icon" type="image/png" href="{{ theme:img src="favicon.png" }}" />
</head>
<body class="home">
  <header class="intro">

      {{ theme:partial src="nav" }}

  </header>
  <div class="container">

      <section class="content">
        <h1>{{ title }}</h1>
        {{ content }}
      </section>

  </section>
</div>

  <!-- javascript bits and bobs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  <script src="{{ theme:js src="headerSize"}}"></script>
  <script src="{{ theme:js }}"></script>
</body>
</html>