<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ _site_name }}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ theme:css }}" />
  <link rel="icon" type="image/png" href="{{ theme:img src="favicon.png" }}" />
</head>
<body>
  <header>
    <nav>
      {{ theme:partial src="nav" }}
    </nav>
    <section>
    <h1>Big Header is here</h1>
    <h2>Smaller header</h2>
    <h3>Smallest header</h3>
    <h4>Smalllllleest!?</h4>
    </section>
  </header>
  <div class="container">
    <div class="row">
      <section>
        <!-- <p class="site-name"><a href="{{ homepage }}">{{ _site_name }}</a></p> -->
        
      </section>
      <header>
        <h1>{{ title }}</h1>
        {{ content }}
      </header>
    </div>
  </section>
</div>

  <!-- javascript bits and bobs -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
  <script src="{{ theme:js }}"></script>
</body>
</html>