<footer>
	<div class="container">
		<div class="description">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, officiis, numquam, commodi saepe inventore ea esse maiores consequatur nesciunt ut iste nemo dolorum adipisci. Quae, quidem earum omnis dicta neque!
			</p>
		</div>
		<div class="form">
			<form action="">
				<input type="text" placeholder="Your name...">
				<input type="email" placeholder="Your email">
				<textarea name="comment" id="" cols="30" rows="10" placeholder="Your inquiry"></textarea>
				<input type="submit" value="submit">
			</form>
		</div>
	</div>
</footer>